body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul.left-items {
  display: flex;
  align-items: center;
}

nav ul.right-items {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 10px;
  margin-right: 10px;
}

nav ul li button {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  padding: 0.5em 1em;
  height: 1em;
  display: inline-block;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

main {
  padding: 20px;
}

h1 {
  color: #333;
}

p {
  color: #666;
}
